.DS_Store
node_modules
node_modules_bak
/dist
/public

# local env files
.env.local
.env.production
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/src/config/dev.js

#sonarqube
.scannerwork