.inline{
display: inline-block;
}

.sliderCustom{
height: 20px;
width:87%;
}

.smaller{
width:200px;
}

.width{
width:1000px;
}

.search-input {
  height: 52px;
  position: relative;
  color:#494a4f;
}

.search-input::before {
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  font-size: 20px;
  line-height: 32px;
  opacity: 0.6;
}

.search-input > input {
  width: 100%;
  font-size: 18px;
  border: none;
  line-height: 22px;
  height: 32px;
  position: relative;
  border-radius:4px;
  padding:10px;
}

.search-input > input:focus {
  outline: none;
}

.custom-tooltip{
	background:#fff;
	color:#000;
}

.panel-size{
	height:500px;
}

.text-absolute-black{
	color:#000
}

.text-black{
	color:#494a4f;
}

.text-orange{
	color:#ff8c00;
}

.text-red{
	color:#ff0000;
}

.text-green{
	color:#00FF00;
}

.bold { 
	font-weight: bold; 
}

.top-bar{
	background: black;
	color: white;
}

.zero-padding{
	padding-left: 0px;
}

a:link {
    color: #FF0000;
}

a:visited {
    color: #00FF00;
}

a:hover {
    color: #FF00FF;
    cursor: pointer;
}

a:active {
    color: #0000FF;
} 

.panel-black{
    background-color: black;
	 margin-bottom:20px;
	 border:1px solid transparent;
	 border-radius:4px;
	 box-shadow:0 1px 1px rgba(0,0,0,.05)
}

.top-slide{
    transition: 1s;
}

.example-enter {
  opacity: 0.01;
  width: 0px;
}

.example-enter.example-enter-active {
  opacity: 1;
  width: 100px;
  transition: 700ms;
}

.example-leave {
  opacity: 1;
  width: 100px;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms;
}

body{
    background-color: #494a4f;
}

.black-text{
    color: black;
}

/**
 * Demo Styles
 */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #494a4f;
  color: white;
}

a.whiteText:link {
    color: #fff;
    text-decoration: none;
}

a.whiteText:visited {
    text-decoration: none;
    color: #fff;
}

a.whiteText:link {
    color: #fff;
    text-decoration: none;
}

a.whiteText:visited {
    text-decoration: none;
    color: #fff;
}

#root{
	background: #494a4f;
	color: white;
}

@media (min-width: 320px) {  
  *{font-size:1rem;} /*1rem = 16px*/
.margin-left-form{
	margin-top: 5px;
}
}

@media (min-width: 544px) {  
  *{font-size:1.5rem;}
.margin-left-form{
	margin-top: 5px;
}
}

.margin-left-form{
	margin-left: 5px;
}

