body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
	color: white;
}

a.whiteText:link {
    color: #fff;
    text-decoration: none;
}

a.whiteText:visited {
    text-decoration: none;
    color: #fff;
}

#root{
	background: black;
	color: white;
}
