.white-border{
  border:2px solid white;
  border-radius: 6px;
}

.table {
    width: 640px;
    border-collapse: collapse;
    border: none;
    border-spacing: 0;
    text-align: center;
    border: 1px solid transparent; /* No more visible border */
    margin-bottom: 0px;
}

.weekly-table{
    
    background-color: #494a4f;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    margin-bottom: 0px;
    border-radius: 6px;
    border: 2px solid white;
    position: relative; 
    z-index: 1;
}

.daily-table{
    background-color: #494a4f;
    width: 300px;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    margin-bottom: 0px;
    border-radius: 6px;
}

td, th {
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
    transition: all 0.3s;  /* Simple transition for hover effect */
    text-align: center;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border: 1px solid transparent; /* No more visible border */
}

th {
    font-weight: bold;
    text-align:center;
    border: 1px solid transparent; /* No more visible border */
}

td {
    text-align: center;
    border: 1px solid transparent; /* No more visible border */
}

tr{
    border: none;
}

.dailyTableRow{
    cursor: pointer;
}
