html {
    --cm-theme-name:dark;

    --cm-background:#0F223D;

    --cm-text-color:#0F223D;
    --cm-input-text-color:#EAF1FB;
    --cm-chart-text-color:#EAF1FB;
    --cm-year-active-color:#EAF1FB;

    --cm-green:#4DFFB9;
    --cm-red:#FF3333;
    --cm-orange:#FFD640;
    --cm-year-line-color:#EAF1FB;

    --cm-nav-color:#EAF1FB;
    --cm-nav-text-color:#0F223D;

    --cm-luminosity:0.7;
    --cm-logo:0;

    --cm-themes: ["Dark", "Light", "Mint", "Grayscale", "Invert Grayscale"]
}

html[data-theme='Light'] {
    --cm-theme-name:light;

    --cm-background:#EAF1FB;

    --cm-text-color:#EAF1FB;
    --cm-input-text-color:#0F223D;
    --cm-chart-text-color:#0F223D;
    --cm-year-active-color:#0F223D;

    --cm-green:#45E6A5;
    --cm-red:#FF5433;
    --cm-orange:#FFEB40;
    --cm-year-line-color:#0F223D;

    --cm-nav-color:#0F223D;
    --cm-nav-text-color:#EAF1FB;

    --cm-luminosity:0.9;
    --cm-logo:1;
}

html[data-theme='Mint'] {
    --cm-theme-name:mint;

    --cm-background:#0c120f;

    --cm-text-color:#0c120f;
    --cm-input-text-color:#AAF0D1;
    --cm-chart-text-color:#AAF0D1;

    --cm-green:#4DFFB9;
    --cm-red:#FF3333;
    --cm-orange:#FFD640;
    --cm-year-line-color:#AAF0D1;

    --cm-nav-color:#AAF0D1;
    --cm-nav-text-color:#0c120f;

    --cm-luminosity:0.7;
    --cm-logo:0;
}

html[data-theme='Grayscale'] {
    --cm-theme-name:grayscale;

    --cm-background:#1A1B1C;

    --cm-text-color:#1A1B1C;
    --cm-input-text-color:#dfe6f0;
    --cm-chart-text-color:#dfe6f0;
    --cm-year-active-color:#dfe6f0;

    --cm-green:#4DFFB9;
    --cm-red:#FF3333;
    --cm-orange:#FFD640;
    --cm-year-line-color:#dfe6f0;

    --cm-nav-color:#dfe6f0;
    --cm-nav-text-color:#1A1B1C;

    --cm-luminosity:0.7;
    --cm-logo:0;
}

html[data-theme='Invert Grayscale'] {
    --cm-theme-name:invert-grayscale;

    --cm-background:#dfe6f0;

    --cm-text-color:#dfe6f0;
    --cm-input-text-color:#1A1B1C;
    --cm-chart-text-color:#1A1B1C;
    --cm-year-active-color:#1A1B1C;

    --cm-green:#45E6A5;
    --cm-red:#FF5433;
    --cm-orange:#FFEB40;
    --cm-year-line-color:#1A1B1C;

    --cm-nav-color:#1A1B1C;
    --cm-nav-text-color:#dfe6f0;

    --cm-luminosity:0.9;
    --cm-logo:1;
}