html {
    --cm-theme-name:dark;

    --cm-background:#153057;

    --cm-text-color:white;
    --cm-input-text-color:white;
    --cm-chart-text-color:white;
    --cm-year-active-color:white;

    --cm-green:#00ff7f;
    --cm-red:#ff3333;
    --cm-orange:#ff8000;
    --cm-year-line-color:white;

    --cm-nav-color:#248df0;
    --cm-nav-text-color:rgba(255, 255, 255, 0.5);

    --cm-luminosity:0.5;
    --cm-logo:1;

    --cm-themes: ["Dark", "Light", "Matrix"]
}

html[data-theme='Light'] {
    --cm-theme-name:light;

    --cm-background:white;

    --cm-text-color:white;
    --cm-input-text-color:#153057;
    --cm-chart-text-color:#2e9aff;
    --cm-year-active-color:#2e9aff;

    --cm-green:#00ff7f;
    --cm-red:#ff3333;
    --cm-orange:#ff8000;
    --cm-year-line-color:#2e9aff;

    --cm-nav-color:#2e9aff;
    --cm-nav-text-color:rgba(255, 255, 255, 0.5);

    --cm-luminosity:0.8;
    --cm-logo:1;
}

html[data-theme='Matrix'] {
    --cm-theme-name:matrix;

    --cm-background:#0D0208;

    --cm-text-color:#0D0208;
    --cm-input-text-color:white;
    --cm-chart-text-color:#008F11;
    --cm-year-active-color:white;

    --cm-green:#00FF41;
    --cm-red:#ff3333;
    --cm-orange:#ff8000;
    --cm-year-line-color:white;

    --cm-nav-color:#00FF41;
    --cm-nav-text-color:rgba(13, 2, 8, 0.7);

    --cm-luminosity:0.5;
    --cm-logo:0;
}
